<section class="bg-warning py-5" id="bg-home">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-9">
        <p class="text-gray">#1 PLATFORM FOR JOBS</p>
        <h1 class="display-3 my-4">
          <span>
            Find your <span class="text-danger">dream job</span> that suit With Exciting Opportunities
          </span>
        </h1>
        <p class="px-5 mb-4 text-gray">Embark on a journey towards your dream career, your ultimate job-finding companion! We've curated a platform that connects talented individuals with exciting opportunities.</p>
        <p class="mb-4 text-gray">Get Discovered. Get Hired</p>

        <a href="/jobs-listing" class="btn btn-dark text-white me-2">I'm a Job Seeker</a>
        <a href="/recruiter" class="btn btn-dark text-white">I'm a Recruiter</a>
      </div>
    </div>
  </div>
</section>