<section class="d-flex flex-column justify-content-center align-items-center py-5">
  <h1>Recruiter Register</h1>
  <form action="/register" method="post" class="w-25 text-center mb-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        <label for="name">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password">Password</label>
    </div>
    <button type="submit" class="btn btn-dark px-5 py-2">Register</button>
  </form>
  <div>Already have an account? <a href="/login" class="text-gray">Login here</a></div>
<section>
